@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400&display=swap');

#game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.game-square {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  display: grid;
  align-items: center;
  justify-content: center;
}

.game-square:hover {
  background-color: #555;
}

#status {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-align: center;
}

button {
  border: none;
  transition-duration: 0.4s;
  padding: 15px 30px;
  margin: auto;
  text-align: center;
}

button:hover {
  background-color: #555;
}